.navbar {
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 1000 !important;
    background-color: transparent;
    padding: 10px 20px;
    box-shadow: none;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #fff;
    width: 100%;
}

.navbar-top .navbar-social {
    margin-left: auto;
    justify-content: flex-end;
    margin-right: 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-right: auto;
}


.hamburger-icon {
    display: inline-block;
    transition: transform 0.3s ease; /* Dodaj tranziciju */
}

.hamburger-icon.open {
    transform: rotate(90deg); /* Rotira ikonicu kada je meni otvoren */
}

.hamburger-icon.close {
    transform: rotate(-90deg); /* Rotira ikonicu u drugom smeru */
}

.navbar-email {
    flex: 1;
    text-decoration: none;
    margin-left: 20px;
    color: #fff;
    margin-right: 20px; /* Razmak između emaila i društvenih mreža */
}

.navbar-social {
    display: flex;
    margin-left: auto; /* Pomeri društvene mreže skroz desno */
    justify-content: flex-end;
}

.navbar-social a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}

.navbar-social a:hover {
    color: #ccc;
}

.navbar-divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px 0;
}

.navbar-bottom {
    display: flex;
    flex-direction: row; /* Elementi u horizontalnom redu */
    justify-content: space-between; /* Razdvajanje elemenata na suprotne strane */
    align-items: center; /* Vertikalno centriranje elemenata */
    width: 100%; /* Osigurava da navbar-bottom zauzima punu širinu */
}

.navbar-bottom-left {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Omogućava da navbar-bottom-left zauzima potreban prostor */
    justify-content: flex-start; /* Poravnanje logoa na početak */
}

.navbar-logo {
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.navbar-links {
    display: flex;
    gap: 14px;
    transition: transform 0.3s ease;
    overflow: hidden;
    justify-content: flex-end; /* Pomeranje linkova na desnu stranu */
    margin-left: auto; /* Osigurava da linkovi budu skroz desno */
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #ccc;
}

.hamburger {
    display: none; /* Sakrivanje hamburger ikonice na većim ekranima */
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
    margin-right: 20px;
    z-index: 1001; /* Osigurava da ostane iznad menija */
}

@media (max-width: 768px) {
    .navbar-top {
        flex-direction: row; /* Elementi u horizontalnom redu */
        justify-content: space-between; /* Razdvajanje elemenata na suprotne strane */
        align-items: center; /* Vertikalno centriranje elemenata */
    }

    .navbar-left, .navbar-social {
        flex: 1; /* Dajemo oba div-a jednaku fleksibilnost da zauzmu dostupan prostor */
        display: flex;
        align-items: center; /* Vertikalno centriranje ikonica */
        justify-content: center; /* Horizontalno centriranje ikonica */
        margin: 0; /* Uklanjamo sve spoljne margine */
    }

    .navbar-social {
        justify-content: flex-end; /* Poravnavanje društvenih mreža na kraj */
    }

    .navbar-email span:not(.bi) {
        display: none; /* Sakrijemo tekstualne linkove i prikažemo samo ikonice */
    }

    .navbar-social a span:not(.bi) {
        display: none; /* Sakrijemo tekstualne opise društvenih mreža */
    }

    .navbar-bottom-left {
        display: block; /* Osiguravamo da logo ostane vidljiv */
    }

    .navbar-links {
        position: fixed;
        top: 0; /* Postavljanje top da bude 0 */
        right: 0;
        height: 100vh; /* Visina da bude 100% viewporta */
        width: 70%;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centriranje linkova horizontalno */
        justify-content: center; /* Centriranje linkova vertikalno */
        transform: translateX(100%);
        transition: transform 0.3s ease;
        padding: 0; /* Uklonite padding ako ometa centriranje */
    }

    .navbar-links a {
        color: #fff;
        padding: 15px 0; /* Možete smanjiti ili povećati ovaj padding */
        text-decoration: none;
        width: 100%; /* Širina linkova da bude punoj širini roditelja */
        text-align: center;
        margin: 0; /* Uklonite margine koje pomeraju linkove */
        transition: background-color 0.2s;
    }

    .navbar-links.open {
        transform: translateX(0); /* Otvori meni */
    }

    .navbar-links a:hover {
        background-color: #444;
    }

    .hamburger {
        display: block; /* Prikazuje hamburger meni na mobilnim uređajima */
    }

    .navbar-bottom-left {
        flex: 1;
    }
}


@media (min-width: 768px) {
    .navbar-links  {
        margin-right: 20px; /* Smanjuje desnu marginu linkovima na većim ekranima */
    }
}
